@fColors:
    #998CF5,
    rgb(255, 122, 60),
    yellow;

@sColors:
    #6EA3FE,
    rgb(255, 122, 60),
    yellow;

@index:1;

.f-textColor{
    color: extract(@fColors, @index) !important;
}
.f-bgColor{
    background-color: extract(@fColors, @index) !important;
}
.f-borderColor{
    border-color: extract(@fColors, @index) !important;
}

.s-textColor{
    color: extract(@sColors, @index) !important;
}
.s-bgColor{
    background-color: extract(@sColors, @index) !important;
}
.s-borderColor{
    border-color: extract(@sColors, @index) !important;
}

