.f-textColor {
  color: #998CF5 !important;
}
.f-bgColor {
  background-color: #998CF5 !important;
}
.f-borderColor {
  border-color: #998CF5 !important;
}
.s-textColor {
  color: #6EA3FE !important;
}
.s-bgColor {
  background-color: #6EA3FE !important;
}
.s-borderColor {
  border-color: #6EA3FE !important;
}
